.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 254px 182px;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  /* width: 100%; */
}

.payments {
  width: 312px;
  margin: 0 auto;
}

.payments .section-title {
  width: 312px;
  margin: 0 auto;
}
.payments .section-title h2 {
  font-size: 32px;
}

.payments .content-title.title-payments-packet {
  margin: 32px 0 24px 0;
  font-size: 40px;
}

.payments .content-title.subtitle-payments-packet {
  margin: 0;
}
.payments .content-text.text-payments-packet {
  margin: 24px 0 24px 0;
}

.payments .image-gallery .image.primary {
  background: url(../img/gallery1-mobile.png) no-repeat;
  background-size: cover;
}
.payments .image-gallery .image.secondary {
  background: url(../img/gallery2-mobile.png) no-repeat;
  background-size: cover;
}
.payments .image-gallery .image.thirdy {
  background: url(../img/gallery3-mobile.png) no-repeat;
  background-size: cover;
}
.payments .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

.payments .image-gallery .image.primary.gallery-packet {
  background: url(../img/gallery1-mobile-packet.png) no-repeat;
  background-size: cover;
}
.payments .image-gallery .image.secondary.gallery-packet {
  background: url(../img/gallery2-mobile-packet.png) no-repeat;
  background-size: cover;
}
.payments .image-gallery .image.thirdy.gallery-packet {
  background: url(../img/gallery3-mobile-packet.png) no-repeat;
  background-size: cover;
}
.payments .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .section-title {
    width: 100%;
  }
  .payments {
    width: 648px;
  }
  .payments .image-gallery {
    height: 460px;
  }
  .payments .content-wrapper .image-gallery .image.primary {
    background: url(../img/gallery1-tablet.png) no-repeat;
    background-size: cover;
  }
  .payments .content-wrapper .image-gallery .image.secondary {
    background: url(../img/gallery2-tablet.png) no-repeat;
    background-size: cover;
  }
  .payments .content-wrapper .image-gallery .image.thirdy {
    background: url(../img/gallery3-tablet.png) no-repeat;
    background-size: cover;
  }
  .payments .image-gallery .image.primary.gallery-packet {
    background: url(../img/gallery1-tablet-packet.png) no-repeat;
    background-size: cover;
  }
  .payments .image-gallery .image.secondary.gallery-packet {
    background: url(../img/gallery2-tablet-packet.png) no-repeat;
    background-size: cover;
  }
  .payments .image-gallery .image.thirdy.gallery-packet {
    background: url(../img/gallery3-tablet-packet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .payments .content-wrapper {
    display: flex;
    gap: 23px;
  }
  .payments {
    width: 860px;
  }
  .payments .image-gallery {
    width: 790px;
  }
  .payments .content-wrapper .text-content {
    width: 384px;
  }
  .payments .content-wrapper .text-content h3 {
    width: 285px;
  }
  .payments .content-wrapper .text-content p {
    width: 361px;
  }
  .payments .content-wrapper .image-gallery .image.primary {
    background: url(../img/gallery1-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .payments .content-wrapper .image-gallery .image.secondary {
    background: url(../img/gallery2-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .payments .content-wrapper .image-gallery .image.thirdy {
    background: url(../img/gallery3-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .payments .image-gallery .image.primary.gallery-packet {
    background: url(../img/gallery1-tablet-packet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .payments .image-gallery .image.secondary.gallery-packet {
    background: url(../img/gallery2-tablet-packet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .payments .image-gallery .image.thirdy.gallery-packet {
    background: url(../img/gallery3-tablet-packet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1440px) {
  .payments {
    width: 1197px;
  }
  .payments .content-wrapper .image-gallery .image.primary {
    background: url(../img/gallery1-desktop.png) no-repeat;
    background-size: cover;
  }
  .payments .content-wrapper .image-gallery .image.secondary {
    background: url(../img/gallery2-desktop.png) no-repeat;
    background-size: cover;
  }
  .payments .content-wrapper .image-gallery .image.thirdy {
    background: url(../img/gallery3-desktop.png) no-repeat;
    background-size: cover;
  }
  .payments .image-gallery .image.primary.gallery-packet {
    background: url(../img/gallery1-desktop-packet.png) no-repeat;
    background-size: cover;
  }
  .payments .image-gallery .image.secondary.gallery-packet {
    background: url(../img/gallery2-desktop-packet.png) no-repeat;
    background-size: cover;
  }
  .payments .image-gallery .image.thirdy.gallery-packet {
    background: url(../img/gallery3-desktop-packet.png) no-repeat;
    background-size: cover;
  }
}
